.body {
	background: #202020;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.page {
	color: #FFF;
	max-width: 1280px;
	font-family: 'Inter', 'Arial', sans-serif;
	min-height: 100vh;
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-direction: column;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	font-size: 18px;
	-webkit-text-fill-color: #FFFFFF;
-webkit-box-shadow: 0 0 0px 1000px #202020 inset;
transition: background-color 5000s ease-in-out 0s;
}